<app-menu></app-menu>
<div class="text-center" *ngIf="isLogged, else loggedOut">

    iniciaste sesion
</div>

<ng-template #loggedOut>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" routerLink="/login">Ingresa a tu cuenta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/registro">Registrate!</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" (ngSubmit)="loggin()" novalidate>
                            <div class="form-group">
                                <label for="nombreUsuario">Username o Email</label>
                                <input required type="text" name="nombreUsuario" class=" form-control" id="nombreUsuario"
                                    placeholder="Ingresa tu nombre de usuario" [(ngModel)]="nombreUsuario">
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input required type="password" name="password" class="form-control" id="password"
                                    placeholder="Contraseña" [(ngModel)]="password">
                                <small id="passwordHelp" class="form-text text-muted">Nunca reveles tu contraseña a
                                    terceros</small>

                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">recuerdame!</label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid"><i
                                    class="fas fa-sign-in-alt"></i> Iniciar sesion</button>
                        </form>
                        <div *ngIf="f.submitted && isLoginFail" class=" text-justify alert alert-danger mt-3">Nombre de
                            usuario o contraseña incorrectos</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>