<app-menu></app-menu>
<div class="container mt-5 ">
  <div class="row">
    <div class="col-5 mx-auto">
      <form (ngSubmit)="nuevo()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="formGroupExampleInput" class="col-sm-2 col-form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput" class="col-sm-2 col-form-label">Precio</label>
          <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="precio" required>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 mt-4 mx-auto">
            <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">Agregar
              producto</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>