<app-menu></app-menu>
<div class="container" *ngIf="producto">
    <div class="row">
        <div class="col-md-4 mt-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center">
                    <b>Detalle del producto:</b>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>NOMBRE:</b> {{producto.nombre}}</li>
                    <li class="list-group-item"><b>ID:</b> {{producto.id}}</li>
                    <li class="list-group-item"><b>PRECIO:</b> {{producto.precio}} clp</li>
                </ul>
                <div class="card-footer">
                    <button class="btn md-4 btn-outline-info btn-block mx-auto" routerLink="/"><i
                            class="fas fa-chevron-circle-left"></i> Regresar</button>
                </div>
            </div>

        </div>
    </div>
</div>