<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item" >
          <a class="nav-link" routerLink="/"><i class="fas fa-list"></i> Lista de productos</a>
        </li>
        <li class="nav-item" *ngIf="isLogged && isAdmin">
          <a class="nav-link" routerLink="/nuevo"> <i class="fas fa-plus-square"></i> Nuevo producto</a>
        </li>
        <li class="nav-item" *ngIf="isLogged" >
          <a class="nav-link" (click)="onLogOut()" routerLink="/index"> <i class="fas fa-sign-out-alt"></i> Cerrar sesion</a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link" routerLink="/login"> <i class="fas fa-sign-in-alt"></i> Iniciar sesion</a>
        </li>

      </ul>
    </div>
  </nav>
