<app-menu></app-menu>
<div class="container mt-4">
  <div class="row">
    <div class="col-10 mx-auto">

      <table class="table table-dark ">
        <thead>
          <tr>
            <th scope="col mx-auto">id</th>
            <th scope="col mx-auto">Nombre del producto</th>
            <th scope="col mx-auto">Precio</th>
            <th scope="col mx-auto">Detalle</th>
            <th scope="col mx-auto" *ngIf="isAdmin">Editar</th>
            <th scope="col mx-auto" *ngIf="isAdmin">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}} clp</td>
            <td>
              <button class="btn btn-outline-info mx-auto" routerLink="/detalle/{{producto.id}}"><i
                  class="far fa-eye"></i></button>
            </td>
            <td *ngIf="isAdmin">
              <button class="btn btn-outline-warning mx-auto" routerLink="/editar/{{producto.id}}"><i
                  class="fas fa-edit"></i></button>
            </td>
            <td *ngIf="isAdmin"> 
              <button class="btn btn-outline-danger mx-auto" (click)="borrar(producto.id)"><i
                  class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>