<app-menu></app-menu>
<div class="text-center" *ngIf="isLogged, else loggedOut">

  iniciaste sesion
</div>
<ng-template #loggedOut>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" routerLink="/login">Ingresa a tu cuenta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/registro">Registrate!</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <form (ngSubmit)="registro()" novalidate #f="ngForm">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input required type="text" name="nombre" class=" form-control" id="nombre"
                  placeholder="Ingresa tu nombre" [(ngModel)]="nombre">
              </div>
              <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input required type="text" name="username" class=" form-control" id="username"
                  placeholder="Ingresa tu nombre de usuario" [(ngModel)]="username">
              </div>
              <div class="form-group">
                <label required for="email">Email</label>
                <input type="email" name="email" class=" form-control" id="email"
                  placeholder="Ingresa tu direccion de correo electronico" [(ngModel)]="email">
              </div>
              <div class="form-group">
                <label required for="password">Contraseña</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña"
                  [(ngModel)]="password">

              </div>
              <div class="form-group">
                <label required for="password2">Repite tu contraseña</label>
                <input type="password" name="password2" class="form-control" id="password2" placeholder="Contraseña"
                  [(ngModel)]="password2">
              </div>
              <div class=" text-justify alert alert-danger mt-3" *ngIf="password != password2" for="password2">Las
                contraseñas no coinciden</div>
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid"><i
                  class="fas fa-sign-in-alt"></i> Registrate</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>