<app-menu></app-menu>
<div class="container mt-5 " *ngIf="producto">
  <div class="row">
    <div class="col-5 mx-auto">
      <form (ngSubmit)="update()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="formGroupExampleInput" class="col-sm-2 col-form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="producto.nombre" required>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput" class="col-sm-2 col-form-label">Precio</label>
          <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="producto.precio" required>
        </div>
        <div class="form-group">
          <div class="col-sm-13 mt-4 mx-auto">
            <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid"><i class="fas fa-edit"></i> Editar</button>
          </div>
        </div>
        <div class="col-sm-13 mt-4 mx-auto">
          <button class="btn md-4 btn-outline-info btn-block mx-auto" routerLink="/"><i
              class="fas fa-chevron-circle-left"></i> Regresar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  
</div>